@charset "UTF-8";
/* 공통: 색 변수 */
:root {
	--point: #8474e4;
	--point-muted: #9789e8;
	--point-transparent: #9789e899; /* 60% */
	
	--black: #24292f;
	--black-muted: #57606a;
	--black-subtle: #6e7781;
	
	--white: #ffffff;
	--white-subtle: #f6f8fa;

	--dark-gray: #8c959e;
	--gray: #afb8c1;
	--light-gray: #d0d7de;
	--light-gray-muted: #d8dee4;
	
	--error: #dc3545;
	--error-transparent: #dc354599; /* 60% */
	
	--google-blue: #4285F4;
	--google-black: #0000008A; /* 54% */
	--google-white: #FFFFFF;
	--naver-green: #03C75A;
	--naver-white: #FFFFFF;
	--kakao-container: #FEE500;
	--kakao-symbol: #000000E6; /* 90% */
	--kakao-label: #191919;
}

/* 공통: 영역별 전경색/배경색 */
body,.header-container,header.mobile,footer {
	color: var(--white);
	background-color: var(--black);
}
.page-container,nav.dropdown-menu ul {
	color: var(--black);
	background-color: var(--white);
}

/* 공통: 자주 사용되는 문구 색상 */
.notice {
	color: var(--dark-gray);
}
.error {
	color: var(--error);	
}

/* 공통: 자주 사용되는 버튼 색상 */
[type="submit"]:focus,[type="button"]:focus { /* 탭 키로 선택되었을 때 */
	outline-color: transparent;
}
[type="submit"] { /* 전경색이 밝은 계열이면 hover시 진한 배경 */
	color: var(--white);
	background-color: var(--point-muted);
	border: 4px solid var(--point-muted);
}
[type="submit"]:hover {
	background-color: var(--point);
	border-color: var(--point);
}
[type="button"] { /* 전경색이 어두운 계열이면 hover시 연한 배경 */
	color: var(--black);
	background-color: var(--light-gray);
	border: 4px solid var(--light-gray);	
}
[type="button"]:not(:disabled):hover {
	background-color: var(--light-gray-muted);
	border-color: var(--light-gray-muted);
}
[type="button"]:disabled {
	color: var(--gray);
}
[type="button"].point-button { /* 전경색이 밝은 계열이면 hover시 진한 배경 */
	color: var(--white);
	background-color: var(--point-muted);
	border-color: var(--point-muted);
}
[type="button"]:not(disabled).point-button:hover {
	background-color: var(--point);
	border-color: var(--point);
}
[type="button"].reverse-button {
	color: var(--point-muted);
	background-color: transparent;
	border-color: var(--point-muted);
}
[type="button"]:not(disabled).reverse-button:hover {
	color: var(--point);
	background-color: transparent;
	border-color: var(--point);
}