@charset "UTF-8";
/* 공통: 색 변수 */
:root {
	--point: #8474e4;
	--point-muted: #9789e8;
	
	--black: #24292f;
	--black-muted: #57606a;
	--black-subtle: #6e7781;
	
	--white: #ffffff;
	--white-subtle: #f6f8fa;

	--dark-gray: #8c959e;
	--gray: #afb8c1;
	--light-gray: #d0d7de;
	--light-gray-muted: #d8dee4;
	
	--google-blue: #4285F4;
	--google-black: #0000008A; /* 54% */
	--google-white: #FFFFFF;
	--naver-green: #03C75A;
	--naver-white: #FFFFFF;
	--kakao-container: #FEE500;
	--kakao-symbol: #000000E6; /* 90% */
	--kakao-label: #191919;
}

/* 공통: 영역별 전경색/배경색 */
body,.header-container,header.mobile,footer {
	color: var(--white);
	background-color: var(--black);
}
.page-container,nav.dropdown-menu ul {
	color: var(--black);
	background-color: var(--white);
}