@charset "UTF-8";
@import 'color.css';
@import 'layout.css';
/* 공통: 폰트 */
:lang(ko) {
	word-break: keep-all;
}
* {
	font-family: "Pretendard"
				, "Noto Sans KR", "Noto Sans CJK KR", "Noto Sans"
				, -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo" /* 애플 기본 */
				, Roboto /* 안드로이드 기본 */
				, "Segoe UI" /* 윈도우 기본 */
				, "Helvetica Neue", Arial, sans-serif
				, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
	font-size: 16px;
	font-weight: 500;	
}
.notice,.error {
	font-size: 0.875rem;
}
.font-monospace,.font-monospace * {
	font-family: "SF Mono", Menlo, Monaco /* 애플 기본 */
				, "Roboto Mono" /* 안드로이드 기본 */
				, Consolas /* 윈도우 기본 */
				, "DejaVu Sans Mono" /* 리눅스 기본 */
				, "Bitstream Vera Sans Mono", monospace;
}
.font-emphasis {
	font-weight: 700;
	font-style: italic;
}

/* 공통: 링크 스타일 (재)정의 */
a,a:hover,a:active,a:visited {
	text-decoration: inherit;
	color: inherit;
}
a:hover {
	transition: background-color ease 0.5s;
}
.page-container main a {
	color: var(--point-muted);
	font-weight: 700;
}
.page-container main a:hover {
	color: var(--point);
	transition: color ease 0.5s;
}
/* 공통: 기본 태그 스타일 (재)정의 */
ul {
	list-style: none;
}
img {
	object-fit: cover;
	object-position: center;
}
img.profile {
	border-radius: 50%;
}
input,textarea,select {
	padding: 10px;
	border: 2px solid var(--light-gray);
	border-radius: 2px;
}
input:focus,textarea:focus,select:focus {
	outline-color: var(--point);
}
input,textarea,select,option {
	font-size: 1rem;
}
textarea {
	resize: none;
}
label {
	font-size: 1.25rem;
	font-weight: 700;
}

/* 공통: 텍스트 버튼 */
[type="submit"],[type="button"] {
	font-size: 1.125rem;
	font-weight: 700;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.5s ease;
	cursor: pointer;
}
[type="button"]:disabled {
	cursor: default;
}

/* 공통: 토글 버튼 스타일 */
.toggle-container {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid var(--light-gray);
	background-color: var(--light-gray);
	transition: background-color 0.5s ease;
}
.toggle-container.active {
	background-color: var(--point);
}
.toggle-switch {
	position: relative;
	z-index: 1;
	left: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid var(--light-gray);	
	background-color: var(--white);
	transition: left 0.5s ease;
}
.toggle-switch.active {
	left: 30px;
}
/* 공통: 토글 버튼 레이아웃 */
.toggle {
	display: grid;
	grid-template-areas:
		"label toggle"
		"notice toggle";
	place-content: stretch;
	place-items: center start;
}
.toggle label {
	grid-area: label;
}
.toggle .notice {
	grid-area: notice;
}
.toggle .toggle-container {
	grid-area: toggle;
	justify-self: end;
}

/* 공통: 부트스트랩 아이콘 */
main i.bi {
	margin: 0;
	padding: 0;
	text-align: center;
}
main i.bi.button {
	font-size: 2rem;
	color: var(--point);
	transition: all 0.5s ease;
	cursor: pointer;
}
main i.bi.button:hover {
	color: var(--point-muted);
}

/* 공통 : 모달 */
.modal {
	z-index: 20; /* 상단 바의 z-index가 11이므로 더 높은 값 사용 */
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	min-height: 100vh;
	display: none; 
	background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
	display: block; 
}
.modal-content {
	position: fixed; 
	top: 25%; 
	left: 50%;
	padding: 25px;
	text-align: center; 
	background-color: var(--white); 
	border-radius: 10px; 
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15); 
	transform: translateX(-50%) translateY(-25%);
}
/* 공통: 모달 스타일 */
.modal-content {
	min-width: 360px;
	min-height: 240px;
}
.modal-content>div {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--black-muted);
}
.modal-content i.bi {
	margin: 10px;
}
.modal-content.grid {
	display: grid;
}
.modal-content.grid>div {
	align-self: center;
}
.modal-content.grid>button {
	margin: 0 10px;
	height: fit-content;
	align-self: end;
}
.modal-content.grid.plain {
	grid-template-columns: 1fr;
}
.modal-content.grid.choose {
	grid-template-columns: 1fr 1fr;
}
.modal-content.grid.choose>div {
	grid-column: 1 / 3;
}

/* 상단 바 */
header {
	text-align: center;
}
.header-container-top {
	z-index: 11;
	height: 5px;
	background-color: var(--point);
}
.header-container {
	height: 60px;
	font-size: 1.5rem;
	font-weight: 700;
}
/* 상단 바: 제목 */
header .title {
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
}

/* 아이콘 메뉴 */
.icon-menu {
	cursor: pointer;
}
.icon-menu:hover * {
	box-shadow: 0 0 4px var(--white);
	transition: all ease 0.5s;
}
/* 아이콘 메뉴: 햄버거 버튼 */
.hamburger-button {
	/* Grid 컨테이너 */
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-content: space-evenly;
	
	height: 32px;
}
.hamburger-button div {
	/* Grid 아이템 */
	align-self: center;
	
	width: 32px;
	height: 4px;
	background-color: var(--white);
}
/* 아이콘 메뉴: 플러스 버튼 */
.plus-button {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 28px;
	height: 28px;
}
.plus-button div {
	background-color: var(--white);
}
.plus-button div:first-child {
	position: absolute;
	z-index: 11;
	margin-top: 12px;
	width: 28px;
	height: 4px;
}
.plus-button div:nth-child(2) { 
	margin: 0 auto;
	width: 4px;
	height: 28px;
}

/* 메인 메뉴 */
nav.main-menu ul {
	display: flex;
	flex-direction: row;
}
nav.main-menu ul li {height: 60px;}
nav.main-menu ul li a,nav ul li > div {
	padding: 15px 30px;
	display: block;
	height: inherit;
}
nav.main-menu ul li a:not(.not-hover):hover {
	background-color: var(--point);
}
nav.main-menu img.profile {
	width: 32px;
	height: 32px;
}

/* 드롭다운 메뉴 */
nav.dropdown-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 11;
	top: 45px;
	right: 30px;
	width: auto;
	height: auto;
	font-size: 1.25rem;
	text-align: left;
}
nav.dropdown-menu.display-none {
	display: none;
}
nav.dropdown-menu .tail {
	position: relative;
	z-index: 12;
	margin-bottom: -10px;
	padding: 0 30px;
	width: inherit;
	color: var(--white-subtle);
	text-align: right;
}
nav.dropdown-menu .tail i.bi {
	margin: 0;
	padding: 0;
	text-shadow:
		-1px -1px var(--light-gray-muted),
		1px -1px var(--light-gray-muted),
		-1px 1px var(--white-subtle),
		1px 1px var(--white-subtle);
}
nav.dropdown-menu ul {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	background-color: var(--white-subtle);
	border: 1px solid var(--light-gray-muted);
	border-radius: 10px;
}
nav.dropdown-menu ul li {
	padding: 5px 20px;
}
nav.dropdown-menu ul li hr {
	margin: 0;
	padding: 0;
	width: 100%;
	border-style: solid;
	color: var(--light-gray-muted);
	background-color: var(--light-gray-muted); /* 설정하지 않으면 크롬에서는 테두리가 있는 선이 생김 */
}
nav.dropdown-menu ul li:not(.not-link):hover {
	color: var(--white);
	background-color: var(--point-muted);
	transition: background-color ease 0.5s;
}
nav.dropdown-menu ul li.sub a {
	padding-left: 10px;
}

/* 하단 바 */
footer .copyright {
	margin: 0 auto;
	max-width: 1200px;
	font-size: 1.25rem;
	text-align: center;
}
footer .copyright .font-monospace {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: bold;
}

/* 본문: 제목 */
main>.title {
	font-size: 1.75rem;
	font-weight: 700;
	text-align: center;
}

/* 본문 */
.label-button input {
	display: none;
}
.label-button i.bi {
	transition: color 0.5s ease;
	cursor: pointer;
}
.label-button:hover i.bi {
	color: var(--black-muted);
}
.label-button.disabled {
	color: var(--gray);
	pointer-events: none;
}
.label-button.disabled i.bi {
	color: var(--light-gray-muted);
}
.label-button.disabled:hover i.bi {
	color: var(--light-gray-muted);
}

.display-none {
	display: none;
}
.survey-title {
	color: var(--dark-gray);
	font-size: 1.5rem;
	font-weight: 700;
}