@charset "UTF-8";

article>div,article>ul {
	padding: 15px 0;
	width: inherit;
	max-width: 900px;
}
article>ul>li {
	
}

/* 공통 */
.survey-header>li,.survey-footer>li {
	padding: 10px 0;
}
.survey-header>li.no-padding,.survey-footer>li.no-padding {
	padding: 0;
}
.survey-header li hr,.survey-footer li hr {
	margin: 0;
	padding: 0;
	width: 100%;
	border-style: solid;
	color: var(--light-gray-muted);
	background-color: var(--light-gray-muted); /* 설정하지 않으면 크롬에서는 테두리가 있는 선이 생김 */
}
.survey-header li,.survey-header li.survey-menu label
,.survey-footer li,.survey-footer li>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
label.label-button i.bi {
	padding: 0 10px;
	font-size: 1.75rem;
	color: var(--point-muted);
}
label.label-button:hover i.bi {
	color: var(--point);
}
.survey-menu label.label-button {
	margin: 0 20px;
}
.survey-menu button {
	margin-left: 20px;
}

/* 상단 정보와 메뉴 */
.survey-header li label:not(.label-button) {
	display: block;
	min-width: 150px;
}
.survey-header li label:not(.label-button)+div
,.survey-header li label:not(.label-button)+a {
	flex-grow: 1;
}
.survey-header li.survey-menu {
	justify-content: space-between;
}
.survey-header li.survey-menu label {
	flex-wrap: nowrap;
	cursor: pointer;
}

/* 하단 정보와 메뉴 */
.survey-footer li {
	justify-content: space-between;
	flex-grow: 1;
}
.survey-footer li div {
	justify-content: flex-start;
}
.survey-footer li div.survey-menu {
	justify-content: flex-end;
}
.created-by .profile {
	width: 48px;
	height: 48px;
}
.created-by div {
	font-size: 1.25rem;
	font-weight: 700;
}
.survey-created>div>* {
	margin: 0 10px;
}
.deleted-account {
	font-size: 1.5rem;
}

/* 본문 */
.survey-content {
	padding-bottom: 60px;
}
.survey-content div {
	padding: 0 10px;
	width: inherit;
}