@charset "UTF-8";
/* 공통: 레이아웃 (여백, 크기 및 영역 분할) */
* {
	box-sizing: border-box;
}
body,ul,form {
	margin: 0;
	padding: 0;
}
.page-container {
	/* Grid 컨테이너 */
	display: grid;
	grid-template-areas:
		"header header header"
		"left main right"
		"footer footer footer";
}

/* 상단 바 */
header {
	/* Grid 아이템 */
	grid-area: header;
	
	position: sticky;
	z-index: 10;
	top: 0;
}
.header-container {
	/* Grid 컨테이너 */
	display: grid;
	grid-template-columns: repeat(3, auto);
	place-content: stretch;
	place-items: center;
}
nav.main-menu {
	/* Grid 아이템 */
	justify-self: end; /* overrides justify-items */
}

/* 모바일 상단 바 */


/* 사이드 바 */
aside.left {
	/* Grid 아이템 */
	grid-area: left;
}
aside.right {
	/* Grid 아이템 */
	grid-area: right;
}

/* 본문 */
main {	
	/* Grid 아이템 */
	grid-area: main;
	
	/* Grid 컨테이너 */
	display: grid;
	grid-auto-rows: auto;
	place-content: start stretch; /* determines the spacing between grid lines */
	place-items: center; /* determines how the items as a whole are aligned within the container */
	
	padding: 60px 0;
	min-height: 600px;
}
main > .title,main > article {
	width: 100%;
}
main > .title {
	padding: 0 60px;
	margin-bottom: 30px;
}
main > article {	
	/* Grid 컨테이너 */
	display: grid;
	grid-auto-rows: auto;
	place-content: start stretch;
	place-items: center;
}

/* 하단 바 */
footer {
	/* Grid 아이템 */
	grid-area: footer;
	
	padding: 60px 0;
}

/* 반응형 */
@media screen and (min-width:993px) {
	header .hamburger {
		display: none;
	}
}
@media screen and (max-width:992px) {
	nav.main-menu {
		display: none;
	}
}
@media screen and (max-width:576px) {
	header .title {
		display: none;
	}
}